- name: oc_get_all
  hosts: all
  tasks:
  environment:
    KUBECONFIG: "/home/adminlocal/kubeconfig-orin"
  tasks:
  - name: oc get all
    shell: oc get all --insecure-skip-tls-verify=true
    register: command_output

  - debug:
      msg: "{{ command_output }}"